.App {
  margin: 10px;
}

.card{
  margin: 5px;
}

.form{
  text-align: center;
}

.label {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  width: 150px;
  margin: 1em 1em;
  -ms-align-items: center;
  align-items: center;
}
